DendroPy==5.0.8
dynamax==0.1.5
FastRoot==1.5
jax==0.4.30
jaxtyping==0.2.36
numpy==1.26.4
scikit-bio==0.7.0
scikit-learn==1.5.2
scipy==1.13.1
tensorflow-probability==0.25.0
tqdm==4.66.5
treeswift==1.1.45
matplotlib==3.9.4
seaborn==0.13.2